<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      TFM - GENERACIÓN AUTOMÁTICA DE PATRONES EPL A PARTIR DE MODELOS DMN.

        <div class="contenidoTFM"> Este programa es un prototipo para generar patrones automáticamente a partir
          de una tabla de decisión creada con camunda modeler.
        </div>



    </div>

    <div class="finpaginahome">
      Paola Andrea Bedoya Herrera
      <br>
      Universidad Complutense de Madrid
      <br>
      2022
    </div>



  </div>
</div>
