<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Carga de archivo XML y generación de consultas en lenguaje EPL </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">

      CARGAR ARCHIVO XML
      <br><br>
      <span class="p-float-label">
       <label for="formFileLg" class="form-label"></label>
      <input class="form-control form-control-lg" id="formFileLg"  type="file" (change)="selectFiles($event)">
           <p-button  label="CargarDMN" icon="pi pi-check" iconPos="left" *ngIf="selectedFiles" [disabled]="!selectedFiles" (click)="uploadFiles()"></p-button>
     </span>
      <div id="box3">
        <span>{{message}}</span>
      </div>
    </div>
    <div class="confTable">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Archivo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let file of filesToForm">
          <th scope="row">1</th>
          <td>{{file.fileName}}</td>
          <td><button (click)="showFileContent(file)" class="btn btn-active">Ver contenido</button></td>


        </tr>

        </tbody>
        <div>
          <embed id="txtVisor" src="" >
        </div>

      </table>
    </div>

  </div>
</div>


